

<!-- <h1>Home page</h1> -->

<h1>Hello peeps!</h3>

<h4>Day 4 of Quarentine: To get rid of feeling bored i developed this app so you can know my secret message. Hope you like it! :)<h4>

<div>
<li>
    <a href="/register">Signup</a>
</li>
<li>
    <a href="/login">Login</a>
</li>
</div>
<br><br><br>
<hr>
<p>&nbsp;&nbsp;&nbsp;~Shriyam Sharma</p>