<h1>Sign Up Form!</h1>

<p>Hello Peeps! Sign up to Know Secret Message</p>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li>
    <a href="/login">Login</a>

</li>


<br><br><br>
<hr>
<p>&nbsp;&nbsp;&nbsp;~Shriyam Sharma</p>